/*.navigation{*/
/*    background-color: darkgrey!important;*/
/*}*/
/*.navigation a{*/
/*    color: white;*/
/*}*/
/*.slider img{*/
/*    width: 100%;*/
/*}*/

/******************************************** NAVIGATION *****************************/

/*.navbar{*/
/*    background-color : grey!important;*/
/*}*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.overskift{
    color: white;
    text-align: center;
    font-size: 30px;
}

.partnerMain{
    padding-top: 7%;
    padding-bottom: 7%;
    width:100%;
    background-color:#637a91
}

.row{
    margin-top: 7%;
}


.overskifter{
    color: white;
    font-size: 20px;

}

.brødtekst{
    color: white;
    width: 100%;
}


.calculator {
    background-color: white;
}

.form-group1 {
    width: 60%;
    margin:auto;
}
.form-group2{
    width: 60%;
    margin:auto;
}
.form-group3{
    width: 60%;
    margin:auto;
}

#but1 {
    background-color: #4eb070;
    width: 60%;
    color:black;
    font-size:20px;
}
#but2{
    background-color: #4eb070;
    width: 60%;
    color:black;
    font-size:20px;
}

.top-text {
    font-size: 3rem;
    color: #199494;
    text-align: center;
    padding-top: 20px;
}

.spacer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container1{
    width: 100%;
    margin-left:55px;
}
.overskrift1{
    font-size:30px;

}
.row-1 {
    margin-left: -30px;

}

.info{
    font-size:20px;
}