<html xmlns:th = "http://www.thymeleaf.org">
<footer th:fragment="footerFragment" class = "container1">

    <div class="row-1">
        <h9 class="overskrift1">Madspild.DK</h9>
       <div class="info">
        <p> Lygten 37</p>
        <p>2400 København N</p>
        <p>CVR 192033</p>
       </div>

        <img alt="Download Facebook Icon vector (.EPS + .AI) - Seeklogo.net | Facebook icons, Facebook  icon vector, Logo facebook" class="n3VNCb" src="https://i.pinimg.com/originals/b3/26/b5/b326b5f8d23cd1e0f18df4c9265416f7.png" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 161px; height: 141px; margin: -31px;">

        <img alt="File:Instagram logo 2016.svg - Wikipedia" class="n3VNCb" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 105px; height: 95px; margin: 15px;">

        <img alt="Phone icon | Myiconfinder" class="n3VNCb" src="https://lh3.googleusercontent.com/proxy/OG2wKwfp1MgicBLcioUHdtuuH_3k78o2n3ECEyjEf4M2PnufGmYERP-1mAHuoF9sPsx6RaIJkb9eUiemLRENVubQ9spdwMxY4WBHVJRanqOPUpnKkKmHuBNDwmHy-4lp7a9xpbFZr8hgNz452EEMs_w" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 113px; height: 112px; margin: -11px;">

        <img alt="Apple Mail Icon of Flat style - Available in SVG, PNG, EPS, AI &amp; Icon fonts" class="n3VNCb" src="https://cdn.iconscout.com/icon/free/png-512/apple-mail-493152.png" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 108px; height: 110px; margin: 15px;">
    </div>



</footer>