<!DOCTYPE html>
<html lang="en">
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="application/javascript" th:src="@{//code.jquery.com/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link href="style.css" type="text/css" rel="stylesheet">
    <link href="slider.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
<header >

    <!--=================== NAVIGATION ============================ -->






    <!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <a class="navbar-brand" href="#">Navbar</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="#">Forsiden</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Udregn dit Madspild</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Vores Partner</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Om Os</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->


<!--    <div class="navigation">-->
        <nav class="navbar navbar-transparent navbar-expand-md sticky-top">
            <div class="d-flex w-50 order-0">
                <a class="navbar-brand mr-1" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Link <span class="sr-only">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="//codeply.com">Codeply</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
            <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">always show</span>
        </nav>
<!--    </div>-->

<!--=================== SLIDER ============================ -->

    <div class="slider">
        <div>
            <div th:class="Modern-Slider">
                <!-- Item -->
                <div class="item">
                    <div class="img-fill">
                        <img th:src="@{/image/2400_hvorfor-er-madspild-et-problem.jpg}"/>
                        <div class="info">
                            <div>
                                <h3>Vidste du?</h3>
                                <h5>30% madspild, koster 400 millioner <br>kroner om året i Danmark</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item">
                    <div class="img-fill">
                        <img th:src="@{/image/appleWasteImg.jpg/}"/>
                        <div class="info">
                            <div>
                                <h3>Fully responsive Scales with its container</h3>
                                <h5>Donec id ornare dui. Aenean tristique condimentum elit, quis blandit nisl varius sit amet. Sed eleifend felis quis massa viverra</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item">
                    <div class="img-fill">
                        <img src="https://i.imgur.com/TDxSvHH.jpg" alt="">
                        <div class="info">
                            <div>
                                <h3>Awesome Transtions With CSS3</h3>
                                <h5>Donec id ornare dui. Aenean tristique condimentum elit, quis blandit nisl varius sit amet. Sed eleifend felis quis massa viverra</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item">
                    <div class="img-fill">
                        <img src="https://i.imgur.com/p1XZ3Mu.jpg" alt="">
                        <div class="info">
                            <div>
                                <h3>Separate settings per breakpoint</h3>
                                <h5>Donec id ornare dui. Aenean tristique condimentum elit, quis blandit nisl varius sit amet. Sed eleifend felis quis massa viverra</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>
    </div>
</header>
<div class="container">

    <form class ="calculator">
        <div class="form-group1">
            <label for="exampleInputValue"></label>
            <input type="Value" class="form-control" id="exampleInputValue" aria-describedby="valueHelp" placeholder="Mad i KG per uge">
            <small id="valueHelp" class="form-text text-muted">Indtast forbrug af mad per uge</small>
        </div>
        <div class="form-group2">
            <label for="exampleInputPrice"></label>
            <input type="price" class="form-control" id="exampleInputPrice" placeholder="Pris">
            <small id="priceHelp" class="form-text text-muted">Indtast fødevare indkøbs pris</small>
        </div>

        <div class="form-group3">
            <label for="exampleInputWaste"></label>
            <input type="waste" class="form-control" id="exampleInputWaste" placeholder="Madspild per uge">
            <small id="wasteHelp" class="form-text text-muted">Indtast madspild per uge</small>
        </div>
<div class="button1">
    <button type="resultat" class="btn btn-primary">Resultat</button>

</div>
    <div class="button2">
        <button type="saves" class="btn btn-primary">Du spare XXXX per uge</button>
    </div>


    </form>



    <div></div>
</div>
<footer></footer>
<script src="slider.js"></script>
<script src="main.js"></script>
</body>
// //code.jquery.com/jquery-2.0.3.min.js
</html>