<!DOCTYPE html>
<html lang="en">
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="application/javascript" th:src="@{//code.jquery.com/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link href="style.css" type="text/css" rel="stylesheet">
    <link href="slider.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
<header >

    <!--=================== NAVIGATION ============================ -->




    <div th:replace="navbar :: navigation">

    </div>


    <!--=================== SLIDER ============================ -->

    <div class="slider">
        <div>
            <div th:class="Modern-Slider">
                <!-- Item -->
                <div class="item">
                    <div class="img-fill">
                        <img th:src="@{/image/2400_hvorfor-er-madspild-et-problem.jpg}"/>
                        <div class="info">
                            <div>
                                <h3>Vidste du?</h3>
                                <h5>30% madspild, koster 400 millioner <br>kroner om året i Danmark</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item">
                    <div class="img-fill">
                        <img th:src="@{/image/appleWasteImg.jpg/}"/>
                        <div class="info">
                            <div>
                                <h3>Fully responsive Scales with its container</h3>
                                <h5>Donec id ornare dui. Aenean tristique condimentum elit, quis blandit nisl varius sit amet. Sed eleifend felis quis massa viverra</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item">
                    <div class="img-fill">
                        <img src="https://i.imgur.com/TDxSvHH.jpg" alt="">
                        <div class="info">
                            <div>
                                <h3>Awesome Transtions With CSS3</h3>
                                <h5>Donec id ornare dui. Aenean tristique condimentum elit, quis blandit nisl varius sit amet. Sed eleifend felis quis massa viverra</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item">
                    <div class="img-fill">
                        <img src="https://i.imgur.com/p1XZ3Mu.jpg" alt="">
                        <div class="info">
                            <div>
                                <h3>Separate settings per breakpoint</h3>
                                <h5>Donec id ornare dui. Aenean tristique condimentum elit, quis blandit nisl varius sit amet. Sed eleifend felis quis massa viverra</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>
    </div>
</header>
<main>
    <div style="width:100%;background-color:red" >
        <div th:replace="udregnDitMadSpild :: udregnFragment">
            <!--        TOBIAS           -->
        </div>
    </div>
    <div>
        <div th:replace="partnere :: partnerFragment">
            <!--        JEFFREY          -->
        </div>
    </div>
</main>
<footer></footer>
<script src="slider.js"></script>
<script src="main.js"></script>
</body>
// //code.jquery.com/jquery-2.0.3.min.js
</html>