<!DOCTYPE html>
<html lang="en" >
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet">

    <title>Om Os</title>
</head>
<body>
    <header>
        <!--=================== NAVIGATION ============================ -->




        <div th:replace="navbar :: navigation">

        </div>


    </header>
    <main>
        <div class="omOs container" id="om os" th:each="individ : ${person}">
                <div th:if="${individ.getName() == 1}">
                        th:


                    </div>
            <div>
            <img class="billed" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.0-9/96590744_10157355281853652_130235571762102272_o.jpg?_nc_cat=105&amp;_nc_sid=09cbfe&amp;_nc_ohc=NXDE3vFJPdoAX83Y6TZ&amp;_nc_oc=AQn0zUa7fjO9WppU7dSgWxlnm67vfamFkfAG9UkE56-_3XJxv-_ZvRe2JjcOkhv1pDg&amp;_nc_ht=scontent-cph2-1.xx&amp;oh=f580a251492197451ee7cdd7fbba3713&amp;oe=5F9B9D0C" style="width: 41%;  margin: -45%;">
            </div>

            <div class="navn">
            <h10>Andreas Pedersen</h10>
            </div>
            <div class="Brødtekst">
            <p class="informationer">
                Primære fokus er softwareudvikling og systemintegrationer.
                Med mine kompetencer og erfaringer, kan jeg hjælpe dig med at finde den helt rigtige softwareløsning.

                Udgangspunkts i dine krav, analyserer,designer og programmerer jeg din unikke softwareløsning.

                <br><br><h11 class="titel">Software</h11>
                <br>UI/UX - Design, Prototying, Usability testing, System design, Software arkiteturer, API og Servicedesign, Agil projektstyring med Scrum

                <br><br><h12 class="titel">Programmering</h12>
                <br>Jeg har de rette kompetencer, og er ekspert når det drejer sig om programmering.

                <br><br>Windows brugerflader, Webbrugerflader, Mobile apps, Server applikationer, Windows og Web Services, Databaser og DBMS, Microsoft Office udvidelser, System integrationer.
            </p>
            </div>
        </div>
    </main>
</body>
</html>