<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div class="vores partner" id="partner" th:fragment="partnerFragment">
    <h6 class="overskift">Partnere</h6>
    <h7 class="Too Good to Go"></h7>
    <img alt="Join our Food Waste Movement | Too Good To Go" class="n3VNCb" src="https://toogoodtogo.com/images/open-graph-fallback.png" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 140px; height: 80px; margin: 0px;">
    <a href="https://toogoodtogo.dk/da"></a>
    <p><span class="overskift"> Too good to go hjælper restauranter og cafeer mm.
        med at mindske madspild. Derfor har denne app aftalt
        med disse spisesteder, at det mad, de har tilovers, kan
        købes af brugerne af app´ en for helt ned til 20 kr. per take-away boks.

        Ved at bestille maden over app´ en, og
        så vise kvitteringen på det valgte spisested,
        kan du nemt fylde en to-go boks med overskudsmad.
        Dette er med til at mindske madspild, og med til at hjælpe dig med
        et godt, billigt måltid.
    </span></p>

    <h8 class="overskift">Mad skal spises</h8>

    <img alt="Mad Skal Spises – Apps i Google Play" class="n3VNCb" src="https://lh3.googleusercontent.com/y5gX-_jBqbiuX0bxt3z72jsBx8r6jN6pDFmykKy5GJyzXJQwwifq2siJOeTB-bQAekk" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 140px; height: 80px; margin: 0px;">

    <a href="https://play.google.com/store/apps/details?id=dk.dsg.foodwastefighter&hl=da"></a>
    <p><span class="overskift">
        Denne app er udviklet til at nedbringe madspild fra
        dagligvarebutikkerne, når varerne er ved at have sidste salgsdato.
        den fungerer ved, at forbrugere og butikansatte ligger disse
        udsalgsvarer på brugerfladen, når de støder på dem, så du specifikt kan
        købe madvarer på udsalg, og være med til at afhjælpe madspild.
    </span></p>

</div>