<html xmlns:th = "http://www.thymeleaf.org">

<div th:fragment="udregnFragment" class="container">

    <form>
        <div class ="calculator" style="width:60%; margin:auto;">
            <div id="top-text" class="top-text"> UDREGN DIT MADSPILD </div>

        <div class="form-group1" id="group1">
            <label for="exampleInputValue"></label>
            <input type="Value" class="form-control" id="exampleInputValue" aria-describedby="valueHelp" placeholder="Mad i KG per uge">
            <small id="valueHelp" class="form-text text-muted">Indtast forbrug af mad per uge</small>
        </div>
        <div class="form-group2">
            <label for="exampleInputPrice"></label>
            <input type="price" class="form-control" id="exampleInputPrice" placeholder="Pris">
            <small id="priceHelp" class="form-text text-muted">Indtast fødevare indkøbs pris</small>
        </div>

        <div class="form-group3">
            <label for="exampleInputWaste"></label>
            <input type="waste" class="form-control" id="exampleInputWaste" placeholder="Madspild per uge">
            <small id="wasteHelp" class="form-text text-muted">Indtast madspild per uge</small>
        </div>
            <div class = "spacer">
            </div>

        <div class="button1" style="text-align:center;">
            <button type="resultat" class="btn btn-primary" id="but1">Resultat</button>

        </div>

            <div class = "spacer">
            </div>

        <div class="button2" style="text-align:center;">
            <button type="saves" class ="btn btn-primary" id="but2">Du spare XXXX per uge</button>

        </div>

            <div class = "spacer">
            </div>
        </div>
    </form>

</div>